#cardContent{
    overflow: hidden;
}
.subtitle{ font-weight: 500; font-size: 20px; color: #014c68;}
.timePick{
    font-size: 20px;
    color: #004d69;
    font-weight: 500;
    margin-bottom: 20px;
}
    
