 #cardContent {
     overflow: hidden;
 }


 .slotCard {
     height     : 65px;
     font-size  : 18px;
     font-weight: bold;
     clear      : both;
     padding    : 10px 0px 0px 0px;
 }

 .iconBrand {
     float        : left;
     height       : 100%;
     margin-bottom: 10px;
     margin-left  : -6px;
 }

 .cardNumber {
     float         : left;
     height        : 100%;
     vertical-align: middle;
     margin-left   : 20px;
     padding-top   : 16px;
     letter-spacing: 1px;
     padding-bottom: 15px;
 }

 .address_divider_ {
     padding-left: 20px;
 }

 .address_divider_ hr {
     background-color: #bdbdbd;
     width           : 100%;
 }

 .main-addresContainer {
     width    : 90%;
     font-size: 14px;
     color    : #808080;
     padding  : 5px 20px;
 }

 // servicio
 .product-item {
     height       : 55px;
     padding      : 5px 20px;
     border-bottom: 1px solid #c1c1c1;
     font-size    : 12px;
 }

 .product-dtl {
     height: 100%;
     width : 100%;
 }

 .priceDivider {
     margin-top      : -1px;
     background-color: #7d7d7d;
     position        : relative;
     left            : -30px;
     width           : 130%;
     box-shadow      : 0px -1px 3px black;
 }

 // totales
 .totals {
     margin     : 20px 0 0 0;
     font-size  : 42px;
     font-weight: 100;
 }

 .totalsContainer {
     margin   : 30px 20px;
     font-size: 13px;
     color    : #adaaaa;
 }

 .buttonContainer {
     top: 30px !important;
 }

 .ticket-item {
     --padding-start: 0px;
     margin-bottom  : 15px;
 }

 .icon-ticket {
     width : 45px;
     height: 45px;
     margin: 10px 20px 10px 5px;
     color : #1cc1c5;
 }

 .cuponTxt {
     letter-spacing: 1px;
 }

 .codeIsValid {
     color: green !important;
 }

 .codeIsInvalid {
     color: rgb(165, 0, 0) !important;
 }

 .disabled {
     background-color: gray;
     cursor          : auto;
 }

 // Buttton


 .blck {
     padding: 5px;

     .header {
         font-size     : 16px;
         color         : #d8d8d8;
         letter-spacing: 1px;
         margin        : 5px 0px;
     }

     .body {
         margin: 5px 10px;
     }

     hr {
         background-color: #cecece;
     }
 }

 .blck.payment .body {
     display       : flex;
     align-items   : center;
     font-size     : 18px;
     font-weight   : 600;
     letter-spacing: 1.15px;

     img {
         margin-right: 20px;
     }

     img.Visa {
         content: url("/assets/visa_pay_m_cardicon_.png")
     }

     img.MasterCard {
         content: url("/assets/master_pay_m_cardicon_.png")
     }

     img.cash {
         padding: 8px;
         width  : 64px;
         height : 64px;
         content: url("/assets/cash_pay_m_cardicon_.png")
     }
 }


 .blck.address .body {
     display       : flex;
     flex-direction: column;
     font-size     : 15px;

     ion-label {
         margin: 1px 0px;
     }
 }

 .blck.services .body {

     .service {
         margin         : 5px 0px;
         font-size      : 15px;
         display        : flex;
         justify-content: space-between;

         .price {
             display        : flex;
             justify-content: space-between;
             width          : 85px;
             text-align     : left;
         }
     }
 }

 .main_blocker{
    margin: 35px 0px;
}

.calcelar_button{
    background-color: red;
}