<ion-content id="container" no-scroll padding>

  <div class="main">
    <div class="navContainer">
      <ion-item lines="none" 
          color="transparent">

          <ion-buttons >
            <ion-icon 
              class="navIconBtn" 
              slot="icon-only" 
              name=""></ion-icon>
          </ion-buttons>

        <div id="logo">
          <ion-img src="/assets/tidulogowhite_s.png"></ion-img>
        </div>
        <ion-buttons slot="end">

          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div> <!-- navContainer -->

    <div id="cardContent" >

    <div class="noavaliable">
      <h3> Gracias por usar Tidux </h3>
      <h4 style="color: #004d69;"> Espera a que tu doctor finalice la consulta </h4>
      
      <ion-text >  </ion-text>

    </div>

    </div>
  </div> <!-- main -->

</ion-content> 









 